@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="radio"]:checked::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #201F22;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
