@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --primary_black: #201F22;
  --primary_green: #C1FD35;
  --secondary_black: #3A393E;
  --primary_gray: #EEEAEA; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-1 {
  @apply text-sm font-bold  hover:bg-opacity-95 py-2 px-4 rounded transition-all;
}

.btn-2 {
  @apply text-base font-bold  hover:bg-opacity-95 py-2 px-4 rounded transition-all;
}

.btn-3 {
  @apply text-base font-semibold underline  hover:bg-opacity-95 py-2 px-4 rounded transition-all;
}

.btn-1-mobile {
  @apply font-bold text-xs
}

.btn-2-mobile {
  @apply font-semibold text-xs underline
}

.h1 {
  @apply text-2xl font-bold
}

.h2 {
  @apply text-xl font-bold
}

.h3 {
  @apply text-base font-bold
}

.h4 {
  @apply text-sm font-bold
}

.text-1 {
  @apply font-medium text-sm
}

.text-2 {
  @apply font-medium text-xs
}

.text-1-mobile {
  @apply font-normal text-sm
}